name: Deploy Backend to Render

on:
  push:
    branches:
      - main
    paths:
      - "Restaurant-fullstack-main/Restaurant-backend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Render
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}
